In [7]:
import pandas as pd

In [8]:
unvote_url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-03-23/unvotes.csv'

In [9]:
roll_calls_url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-03-23/roll_calls.csv'

In [10]:
issues_url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-03-23/issues.csv'

In [11]:
unvotes = pd.read_csv(unvote_url, dtype={'rcid':'object'})

In [12]:
roll_call = pd.read_csv(roll_calls_url,  dtype={'rcid':'object'})

In [13]:
issues = pd.read_csv(issues_url,  dtype={'rcid':'object'})

In [14]:
unvotes.head()

  rcid             country country_code vote
0    3       United States           US  yes
1    3              Canada           CA   no
2    3                Cuba           CU  yes
3    3               Haiti           HT  yes
4    3  Dominican Republic           DO  yes

In [15]:
unvotes.describe(include='all')

          rcid country country_code    vote
count   869937  869937       862039  869937
unique    6202     200          196       3
top       5394  Canada           CA     yes
freq       193    6176         6176  693544

In [16]:
roll_call.head()

,rcid,session,importantvote,date,unres,amend,para,short,descr
0,3,1,0.0,1946-01-01,R/1/66,1.0,0.0,"AMENDMENTS, RULES OF PROCEDURE",TO ADOPT A CUBAN AMENDMENT TO THE UK PROPOSAL ...
1,4,1,0.0,1946-01-02,R/1/79,0.0,0.0,SECURITY COUNCIL ELECTIONS,TO ADOPT A USSR PROPOSAL ADJOURNING DEBATE ON ...
2,5,1,0.0,1946-01-04,R/1/98,0.0,0.0,VOTING PROCEDURE,TO ADOPT THE KOREAN PROPOSAL THAT INVALID BALL...
3,6,1,0.0,1946-01-04,R/1/107,0.0,0.0,DECLARATION OF HUMAN RIGHTS,TO ADOPT A CUBAN PROPOSAL (A/3-C) THAT AN ITEM...
4,7,1,0.0,1946-01-02,R/1/295,1.0,0.0,GENERAL ASSEMBLY ELECTIONS,TO ADOPT A 6TH COMMITTEE AMENDMENT (A/14) TO T...

In [17]:
roll_call.describe(include='all')

,rcid,session,importantvote,date,unres,amend,para,short,descr
count,6202,6202.000000,5598.000000,6202,6043,2868.000000,3208.000000,5629,6201
unique,6202,NaN,NaN,863,5702,NaN,NaN,2020,4556
top,2019,NaN,NaN,1989-12-06,R/61/77,NaN,NaN,CHINA REPRESENTATION,Reaffirms that the Palestine Arab refugees are...
freq,1,NaN,NaN,77,8,NaN,NaN,66,19
mean,NaN,41.656240,0.073419,NaN,NaN,0.108438,0.308915,NaN,NaN
std,NaN,19.376356,0.260846,NaN,NaN,0.310987,0.462118,NaN,NaN
min,NaN,1.000000,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN
25%,NaN,28.000000,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN
50%,NaN,41.000000,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN
75%,NaN,58.000000,0.000000,NaN,NaN,0.000000,1.000000,NaN,NaN
max,NaN,74.000000,1.000000,NaN,NaN,1.000000,1.000000,NaN,NaN

In [18]:
roll_call.descr.isna().sum()

1

In [19]:
issues.head()

   rcid short_name                 issue
0    77         me  Palestinian conflict
1  9001         me  Palestinian conflict
2  9002         me  Palestinian conflict
3  9003         me  Palestinian conflict
4  9004         me  Palestinian conflict

In [20]:
issues.describe(include='all')

        rcid short_name                         issue
count   5745       5745                          5745
unique  4099          6                             6
top     9070         di  Arms control and disarmament
freq       4       1092                          1092

In [21]:
issues.issue.unique()

array(['Palestinian conflict', 'Nuclear weapons and nuclear material',
       'Arms control and disarmament', 'Human rights', 'Colonialism',
       'Economic development'], dtype=object)

In [22]:
merged_data = unvotes.merge(roll_call, how = 'left', on = 'rcid')

In [26]:
merged_data.describe(include='all')

,rcid,country,country_code,vote,session,importantvote,date,unres,amend,para,short,descr
count,869937,869937,862039,869937,869937.000000,768669.000000,869937,851967,323203.000000,379388.000000,774287,869783
unique,6202,200,196,3,NaN,NaN,863,5702,NaN,NaN,2020,4556
top,5549,Canada,CA,yes,NaN,NaN,1989-12-06,R/72/50,NaN,NaN,HUMAN RIGHTS ADVANCEMENT,Reaffirms that the Palestine Arab refugees are...
freq,193,6176,6176,693544,NaN,NaN,11445,1403,NaN,NaN,7790,2934
mean,NaN,NaN,NaN,NaN,46.175476,0.088063,NaN,NaN,0.090281,0.307435,NaN,NaN
std,NaN,NaN,NaN,NaN,17.600663,0.283386,NaN,NaN,0.286584,0.461432,NaN,NaN
min,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,34.000000,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,45.000000,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,61.000000,0.000000,NaN,NaN,0.000000,1.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,74.000000,1.000000,NaN,NaN,1.000000,1.000000,NaN,NaN

In [23]:
merged_data.descr.isna().sum()

154

In [36]:
merged_data[merged_data.descr.isna()]

,rcid,country,country_code,vote,session,importantvote,date,unres,amend,para,short,descr
768956,6027,Afghanistan,AF,yes,52,NaN,1997-12-09,NaN,NaN,NaN,NaN,NaN
769729,6027,Algeria,DZ,yes,52,NaN,1997-12-09,NaN,NaN,NaN,NaN,NaN
770139,6027,Andorra,AD,no,52,NaN,1997-12-09,NaN,NaN,NaN,NaN,NaN
770478,6027,Angola,AO,yes,52,NaN,1997-12-09,NaN,NaN,NaN,NaN,NaN
770843,6027,Antigua & Barbuda,AG,abstain,52,NaN,1997-12-09,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
834928,6027,Venezuela,VE,no,52,NaN,1997-12-09,NaN,NaN,NaN,NaN,NaN
835225,6027,Vietnam,VN,yes,52,NaN,1997-12-09,NaN,NaN,NaN,NaN,NaN
835599,6027,Yemen,YE,yes,52,NaN,1997-12-09,NaN,NaN,NaN,NaN,NaN
836007,6027,North Macedonia,MK,no,52,NaN,1997-12-09,NaN,NaN,NaN,NaN,NaN
836802,6027,Zimbabwe,ZW,yes,52,NaN,1997-12-09,NaN,NaN,NaN,NaN,NaN

In [35]:
roll_call.shape

(6202, 9)